.about-main__description{
    margin-left: 1rem;
}


.about-main__description__work{
    display:flex;
    justify-content: space-evenly;
}

/* Skills.css */
.skills-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skills-title {
    color: #333;
    margin-top: 20px;
    font-size: 2.5em;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    font-size: 1.2em;
    color: #555;
}

.skill-item {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.skill-item:hover {
    background-color: #a0c4ff;
    cursor: pointer;
}
