table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd; 
  }
  
  th {
    background-color: rgba(10, 44, 90, 0.2); 
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: rgba(39, 39, 39, 0.2);
  }
  

  
  td {
    font-size: 14px; 
  }
  
  table, th, td {
    box-sizing: border-box;
  }
  