.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.sidebar__title {
  font-size: 1.5rem;
  width: 100%;
  background: linear-gradient(to bottom, #00456F 0%, #00456F 50%, transparent 50%, transparent 100%);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__title--text {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar__title--subtitle {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  background-color: 	#00456F;
  border-radius: 0.5rem;
}
.sidebar__title--img {
  margin-top: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.sidebar__main{
  width: 100%;
  margin: 1rem;
  border-top: 0.1rem #E6E9EC solid;
  width: 80%;
}

.sidebar__list {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar__list--item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sidebar__list--icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.sidebar__list--item a:hover {
  text-decoration: underline;
}

.sidebar__list--item--nested {
  display: flex;
  flex-direction: column; 
}

.sidebar__list--header {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 0.2rem; 
}

.sidebar__list--info {
  font-size: 0.85rem;
}

.sidebar__list--text {
  font-size: 0.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}