.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sidebar__title {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.sidebar__title--text {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar__title--subtitle {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(84, 82, 82);
  border-radius: 0.5rem;
}
.sidebar__title--img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
}

.sidebar__main{
  width: 100%;
  margin: 1rem;
  border-top: 0.1rem #fff solid;
  width: 80%;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar__list--item-container {
  display: flex; 
  align-items: center; 
  gap: 1rem; 
  margin-bottom: 1rem; 
}

.sidebar__list--icon {
  width: 40px; 
  height: 40px; 
  flex-shrink: 0;
}

.sidebar__list--item a:hover {
  text-decoration: underline;
}

.sidebar__list--item--nested {
  display: flex;
  flex-direction: column; 
}

.sidebar__list--header {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.2rem; 
}

.sidebar__list--info {
  font-size: 0.85rem;
  color: #b9bbbe; 
  text-decoration: none;
}

.sidebar__list--text {
  font-size: 0.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}